@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Local Font Imports */
@font-face {
  font-family: "Geist Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../static/fonts/Geist/Geist-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Geist Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../static/fonts/GeistMono/GeistMono-Regular.ttf") format("ttf");
}
